/* All */

html{
    scroll-behavior:smooth;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: #dbdbdb;
    display: flex;
    justify-content: center;
}

#desktop{
    max-width: 120rem;
    width: 100vw;
}

a{
    text-decoration: none;
}

/* ===================== */
/* NavBar start  */

.logo_nav_bar{
    width: 7.3125rem;
}

#nav_bar{
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3125rem 6.25rem;
    height: 5.3125rem;
    background-color: #fbfbfb;
    box-sizing: border-box;
}

#nav_bar_left{
    display: flex;
    gap: 1.875rem;
}

#site_name{
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
    text-decoration-line: underline;
    color: #FEBD19;
}

#ul_nav{
    display: flex;
    align-items: center;
    padding: 0;
    gap: 3.125rem;
}

li{
    list-style: none;
}

.text_nav_bar{
    font-style: italic;
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 2rem;
    color: #FEBD19;
    text-decoration-line: none;
}

#btn_contact_nav_bar{
    font-style: italic;
    font-weight: 700;
    font-size: 1.625rem;
    align-items: center;
    color: #FBFBFB;
    background-color: #FEBD19;
    text-decoration: none;
    padding: .5625rem 3.4375rem;
    border-radius: 1.5625rem;
}

/* NavBar Stop */
/* ===================== */
/* Header start */

#header{
    height: 100vh;
    max-height: 67.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/header_background.png);
}

#div_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.875rem;
}

#p_header{
    font-style: normal;
    font-weight: 600;
    font-size: 3.4375rem;
    line-height: 4.1875rem;
    color: #FBFBFB;
    text-shadow: .25rem .25rem 1.25rem #000000;
    margin: 2.5rem 0rem;
    text-align: center;
}

#div_btn_contact_header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn_contact_header{
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4375rem;
    color: #FBFBFB;
    padding: .9375rem 3.125rem;
    background-color: #FEBD19;
    text-decoration: none;
    border-radius: 3.125rem;
}

/* Header stop */
/* ===================== */
/* Asset Start */

.asset_svg{
    width: 12.5rem;
}

#asset_div_main{
    background-color: #FEBD19;
    display: flex;
    justify-content: space-evenly;
    padding: 3.125rem;
    box-sizing: border-box;
}

#asset_left{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

#asset_right{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.asset_div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.asset_p{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    color: #FBFBFB;
}


/* Asset Stop */
/* ===================== */
/* Discover start */

#discover{
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    background-color: #FBFBFB;
}

#discover_div_main{
    display: flex;
    align-items: center;
}

#discover_div_text{
    padding: 0 6.25rem;
}

#discover_title{
    font-weight: 700;
    font-size: 3.125rem;
    color: #000000;
}

#discover_p{
    font-weight: 400;
    font-size: 1.5rem;
    color: #000000;
}

#discover_img{
    width: 56.25rem;
}

#discover_trait{
    width: 56.25rem;
    height: .3125rem;
    background: #FEBD19;
    border-radius: 1.875rem;
    align-self: center;
}

/* Discover stop */
/* ===================== */
/* Contact start  */

#contact{
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
    padding: 3.125rem 11.25rem;
    box-sizing: border-box;
}

#contact_title{
    text-align: center;
    font-weight: 700;
    font-size: 3.125rem;
    color: #FEBD19;
}

#contact_div_main{
    display: flex;
    padding-top: 3.125rem;
    gap: 3.125rem;
}

#contact_div_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_p{
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    color: #000000;
}

.important{
    font-weight: 500;
    color: #FEBD19;
}

#contact_div_right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.form_div_double{
    display: flex;
    gap: 3.125rem;
}

.form_div_flex{
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

.input{
    text-align: center;  
    font-weight: 400;
    font-size: 1.5rem;
    color: #000000;
    background-color: unset;
    border: unset;
    border-bottom: .1875rem solid#FEBD19;
    text-align: left;
    text-indent: .9rem;
    padding: .3125rem 0;
}

.input_small{
    width: 18.75rem;
}

.input_big{
    width: 40.625rem;
}

#text_form{
    border: 3px solid #FEBD19;
    border-radius: .625rem;
    width: 40.625rem;
    height: 9.375rem;
    padding: .625rem;
    box-sizing: border-box;
}

#submit{
    font-style: italic;
    font-weight: 700;
    font-size: 1.625rem;
    color: #FBFBFB;
    background-color: #FEBD19;
    text-decoration: none;
    cursor: pointer;
    border: unset;
    padding: .5625rem 3.4375rem;
    border-radius: 1.5625rem;
}

.error{
    color: #FF3C30;
    font-weight: 300;
    font-size: 1rem;
}

/* Contact Stop */
/* FootPage start */

#foot_page{
    background-color: #4B4B4B;
    box-sizing: border-box;
    padding: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#foot_page > div{
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.foot_div_info{
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

#foot_div_contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#foot_link{
    display: flex;
    justify-content: space-around;
}

#foot_trait{
    width: 31.25rem;
    height: .1875rem;
    background: #FBFBFB;
    border-radius: 1.5625rem;
    align-self: center;
}

.foot_text{
    text-align: center;
    margin: 0;
}

.foot_text_bold_white{
    font-weight: 800;
    font-size: 1.5rem;
    color: #FBFBFB;
}

.foot_text_regular{
    font-weight: 400;
    font-size: 1.25rem;
    color: #FBFBFB;
}

.foot_text_bold_gold{
    font-weight: 800;
    font-size: 1.5rem;
    color: #FEBD19;
}

/* Footpage stop */
/* legals start */

#legals{
    padding: 6.25rem 12.5rem;
    background-color: #FBFBFB;
}

#legals_title{
    font-weight: 800;
    font-size: 1.875rem;
}

.legal_h2{
    font-weight: 800;
    font-size: 1.625rem;
}

.legal_p{
    font-weight: 400;
    font-size: 1.25rem;
}

.text_bold{
    font-weight: 700;
}

.text_gold{
    color: #FEBD19;
}

/* legals stop */

