/* All */

html{
    scroll-behavior:smooth;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: #dbdbdb;
    display: flex;
    justify-content: center;
}

#desktop{
    max-width: 120rem;
    width: 100vw;
}

a{
    text-decoration: none;
}

/* ===================== */
/* NavBar start  */

#nav_responsive{
    display: none;
}

.logo_nav_bar{
    width: 7.3125rem;
}

#nav_bar{
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3125rem 6.25rem;
    height: 5.3125rem;
    background-color: #fbfbfb;
    box-sizing: border-box;
}

#nav_bar_left{
    display: flex;
    gap: 1.875rem;
}

#nav_bar_right{
    display: flex;
}

#site_name{
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
    text-decoration-line: underline;
    color: #FEBD19;
}

.ul_nav{
    display: flex;
    align-items: center;
    padding: 0;
    gap: 3.125rem;
}

.ul_nav > li > p {
    display: inline;
}

li{
    list-style: none;
}

.text_nav_bar{
    font-style: italic;
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 2rem;
    color: #FEBD19;
    text-decoration-line: none;
}

.btn_contact_nav_bar{
    font-style: italic;
    font-weight: 700;
    font-size: 1.625rem;
    align-items: center;
    color: #FBFBFB;
    background-color: #FEBD19;
    text-decoration: none;
    padding: .1875rem 3.4375rem;
    border-radius: 1.5625rem;
    border: .1875rem solid #FEBD19;
}

/* NavBar Stop */
/* ===================== */
/* Header start */

#header{
    height: 100vh;
    max-height: 67.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/header_background.webp);
    background-size: cover;
}

#div_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.875rem;
}

#img_header{
    width: 52.5rem;
}

#p_header{
    font-style: normal;
    font-weight: 600;
    font-size: 3.4375rem;
    line-height: 4.1875rem;
    color: #FBFBFB;
    text-shadow: .25rem .25rem 1.25rem #000000;
    margin: 2.5rem 0rem;
    text-align: center;
}

#div_btn_contact_header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn_contact_header{
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4375rem;
    color: #FBFBFB;
    padding: .4375rem 3.125rem;
    background-color: #FEBD19;
    text-decoration: none;
    border: .1875rem solid #FEBD19;
    border-radius: 3.125rem;
}

/* Header stop */
/* ===================== */
/* Asset Start */

.asset_svg{
    width: 12.5rem;
}

#asset_div_main{
    background-color: #FEBD19;
    display: flex;
    justify-content: space-evenly;
    padding: 3.125rem;
    box-sizing: border-box;
}

#asset_left{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

#asset_right{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.asset_div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.asset_p{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    color: #FBFBFB;
}


/* Asset Stop */
/* ===================== */
/* Discover start */

#discover{
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    background-color: #FBFBFB;
}

#discover_div_main{
    display: flex;
    align-items: center;
}

#discover_div_text{
    padding: 0 6.25rem;
}

#discover_title{
    font-weight: 700;
    font-size: 3.125rem;
    color: #000000;
}

#discover_p{
    font-weight: 400;
    font-size: 1.5rem;
    color: #000000;
}

#discover_img{
    width: 56.25rem;
}

#discover_trait{
    width: 56.25rem;
    height: .3125rem;
    background: #FEBD19;
    border-radius: 1.875rem;
    align-self: center;
}

/* Discover stop */
/* ===================== */
/* Contact start  */

#contact{
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
    padding: 3.125rem 11.25rem;
    box-sizing: border-box;
}

#contact_title{
    text-align: center;
    font-weight: 700;
    font-size: 3.125rem;
    color: #FEBD19;
}

#contact_div_main{
    display: flex;
    padding-top: 3.125rem;
    gap: 3.125rem;
}

#contact_div_left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_p{
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    color: #000000;
}

.important{
    font-weight: 500;
    color: #FEBD19;
}

#contact_div_right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.form_div_double{
    display: flex;
    gap: 3.125rem;
}

.form_div_flex{
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

.input{
    text-align: center;  
    font-weight: 400;
    font-size: 1.5rem;
    color: #000000;
    background-color: unset;
    border: unset;
    border-bottom: .1875rem solid#FEBD19;
    text-align: left;
    text-indent: .9rem;
    padding: .3125rem 0;
}

.input_small{
    width: 18.75rem;
}

.input_big{
    width: 40.625rem;
}

#text_form{
    border: 3px solid #FEBD19;
    border-radius: .625rem;
    width: 40.625rem;
    height: 9.375rem;
    padding: .625rem;
    box-sizing: border-box;
}

#submit{
    font-style: italic;
    font-weight: 700;
    font-size: 1.625rem;
    color: #FBFBFB;
    background-color: #FEBD19;
    text-decoration: none;
    cursor: pointer;
    border: .1875rem solid #FEBD19;
    padding: .1875rem 3.4375rem;
    border-radius: 1.5625rem;
}

.error{
    color: #FF3C30;
    font-weight: 300;
    font-size: 1.25rem;
}

/* Contact Stop */
/* FootPage start */

#footer{
    background-color: #4B4B4B;
    box-sizing: border-box;
    padding: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer > div{
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.foot_div_info{
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

#foot_div_contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#foot_link{
    display: flex;
    justify-content: space-around;
}

#foot_trait{
    width: 31.25rem;
    height: .1875rem;
    background: #FBFBFB;
    border-radius: 1.5625rem;
    align-self: center;
}

.foot_text{
    text-align: center;
    margin: 0;
}

.foot_text_bold_white{
    font-weight: 800;
    font-size: 1.5rem;
    color: #FBFBFB;
}

.foot_text_regular{
    font-weight: 400;
    font-size: 1.25rem;
    color: #FBFBFB;
}

.foot_text_bold_gold{
    font-weight: 800;
    font-size: 1.5rem;
    color: #FEBD19;
}

/* Footpage stop */
/* legals start */

#legals{
    padding: 5.3125rem 12.5rem;
    background-color: #FBFBFB;
}

#legals_title{
    font-weight: 800;
    font-size: 1.875rem;
    color: #000000
}

.legal_h2{
    font-weight: 800;
    font-size: 1.625rem;
    color: #000000
}

.legals_p{
    font-weight: 400;
    font-size: 1.25rem;
    color: #000000
}

.text_bold{
    font-weight: 700;
}

.text_gold{
    color: #FEBD19;
}

/* legals stop */
/* site map start */

#map{
    margin-top: 5.3125rem;
    background-color: #FBFBFB;
    width: 100vw;
    max-width: 67.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 3.125rem;
    box-sizing: border-box;
}

.map_a{
    font-weight: 400;
    font-size: 1.25rem;
    color: #000000;
    text-align: center;
}

/* site map stop */
/* All hover start */

.btn_discover_nav_bar:hover{
    color: #E08820;
}

.btn_contact_nav_bar:hover{
    color: #E08820;
    background-color: #FBFBFB;
    border-color: #E08820;
}

#btn_contact_header:hover{
    color: #E08820;
    background-color: #FBFBFB;
    border-color: #E08820;
}

#submit:hover{
    color: #E08820;
    background-color: #FBFBFB;
    border-color: #E08820;
}

/* All hover stop */
/* ================================ */
/* ================================ */
/* ================================ */
/* ================================ */
/* ================================ */
/* ================================ */
 /* Responsive start */

 @media screen and (max-width: 1800px){
    html{
        font-size: 95%;
    }
}

@media screen and (max-width: 1700px){
    html{
        font-size: 90%;
    }
}

@media screen and (max-width: 1600px){
    html{
        font-size: 85%;
    }
}

@media screen and (max-width: 1500px){
    html{
        font-size: 80%;
    }
}

@media screen and (max-width: 1400px){
    html{
        font-size: 75%;
    }

    #contact{
        padding: 3.125rem 5.625rem;
    }
}

@media screen and (max-width: 1280px){
    html{
        font-size: 70%;
    }
}

@media screen and (max-width: 1024px){
    html{
        font-size: 60%;
    }
}

@media screen and (max-width: 960px){
    html{
        font-size: 50%;
    }

    #discover_img{
        width: 37.5rem;
    }

    #discover_title{
        font-size: 2.5rem;
        margin: .625rem 0;
    }
}

@media screen and (max-width: 767px){

    /* NavBar responsive start */

    #nav_responsive{
        display: flex;
        position: absolute;
        top: 5.3125rem;
        left: 0;
        justify-content: center;
        padding: .9375rem;
        background-color: #fbfbfb;
        width: 100vw;
        transition: 1s;
        transform: translateX(100%);
    }

    #nav{
        display: none;
    }

    .burger-icon {
        width: 32px;
        height: 32px;
        border: #FEBD19 1.5px solid;
        display: flex;
        flex-direction: column;
        gap:4.5px;
        justify-content: center;
        align-items: center;
    }

    .burger-icon > span {
        display: block;
        width: 16px;
        height: 1px;
        background-color: #FEBD19;
    }

    .burgerline {
        transition: .3s;
    }

    .ul_nav{
        flex-direction: column;
        gap: 1.875rem;
    }

    #nav_bar{
        padding: 0 1.25rem;
    }

    #nav_bar_left{
        gap: 1.25rem;
    }

    .logo_nav_bar{
        width: 5.75rem;
    }

    #site_name{
        font-size: 1.75rem;
    }

    /* NavBar responsive stop  */
    /* Header start */

    #header{
        background-image: url(/images/header_background_phone.webp);
    }

    #div_header > picture{
        display: flex;
        justify-content: center;
    }

    #img_header{
        width: 70vw;
    }

    /* header stop */
    /* asset start */

    #asset_div_main{
        flex-direction: column;
        align-items:center;
        padding: 1.25rem;
    }

    #asset_left{
        width: 100%;
        justify-content: space-between;
    }

    #asset_right{
        width: 100%;
        justify-content: space-between;
    }

    /* asset stop */
    /* discover start */

    #discover{
        gap: 0;
    }

    #discover_div_main{
        flex-direction: column-reverse;
    }

    #discover_img{
        width: 100vw;
    }

    #discover_div_text{
        padding: 1.25rem 1.25rem;
    }

    #discover_title{
        text-align: center;
    }

    #discover_p{
        text-align: center;
    }

    #discover_trait{
        width: 70vw;
    }

    /* discover stop */
    /* contact start */

    #contact{
        padding: 1.25rem 1.25rem;
    }

    #contact_div_main{
        flex-direction: column;
        padding: 0;
    }

    #contact_div_left{
        width: 100%;
    }

    #contact_div_right{
        width: 100%;
    }

    /* contact stop */

    /* Page legals start */

    #legals{
        padding: 1.25rem;
    }

    /* page legals stop */

}

 /* Responsaive stop */

